.wrapper {
	width: 100%;
	min-height: calc(100vh - 3rem);
	background-color: var(--background-1);
	position: relative;
	padding-top: 20vh;
}

@media only screen and (max-width: 767px) {
	.wrapper {
		min-height: 85vh;
	}
}

.header {
	font-family: monospace !important;
	font-size: 2rem;
}