body.monokai-sweet-dark {
	--background: rgb(22, 23, 29);
	--background-1: rgb(38, 40, 48);
	--background-2: rgb(49, 51, 63);
	--background-3: rgb(45, 46, 48);
	--foreground: white;

	--input-background: rgb(38, 40, 48);
	--input-complimentary: rgb(49, 51, 63);

	--primary: rgb(25, 209, 229);
	--primary-light: #{lighten(rgb(25, 209, 229), 10%)};

	--button: rgb(27, 166, 182);
	--button-hover: rgb(24, 138, 151);

	--secondary: rgb(129, 249, 0);
	--secondary-light: #{lighten(rgb(129, 249, 0), 10%)};

	--tertiary: rgb(255, 77, 255);
	--tertiary-light: #{lighten(rgb(255, 77, 255), 10%)};

	// Reset the default Jupiter UI values just in case.
	--ui: rgb(22, 23, 29);
	--ui-1: rgb(38, 40, 48);
	--ui-2: rgb(49, 51, 63);
	--ui-3: rgb(45, 46, 48);
	--text-color: white;
	--accent: rgb(25, 209, 229);
	--accent-500: rgb(25, 209, 229);
	--accent-hover: #1e40af;
	--accent-600: #1e40af;
}