@use './mixins';

.h-button.accent-button,
.h-button.primary-button,
.h-button.secondary-button,
.h-button.tertiary-button {
	&:hover {
		transform: translateY(-2px);
	}

	&:focus {
		box-shadow: none !important;
	}
}

.h-button.accent-button {
	background-color: var(--button) !important;

	&:hover {
		background-color: var(--button-hover) !important;
	}
}

.h-button.primary-button {
	background-color: var(--accent-500) !important;

	&:hover {
		background-color: var(--accent-600) !important;
	}
}

.h-button.secondary-button {
	background-color: var(--secondary) !important;

	&:hover {
		background-color: var(--secondary) !important;
		transform: translateY(-2px);
	}
}

.h-button.tertiary-button {
	background-color: var(--tertiary) !important;

	&:hover {
		background-color: var(--tertiary) !important;
		transform: translateY(-2px);
	}
}

.h-modal .inner-container {
	background-color: var(--background) !important;
}

.h-modal .inner-container, .h-modal .inner {
	width: 100%;
	overflow: visible !important;
}

.h-modal .content-area {
	width: 100%;
}

.h-modal.medium {
	padding-top: 10rem;
	align-items: flex-start !important;

	& .content-area .grid-2 {
		grid-template-columns: 1fr 1fr !important;
	}

	.h-select-trigger {
		background-color: var(--background-1) !important;
	}
	
	& .h-button {
		color: var(--foreground) !important;

		&:last-child {
			background-color: var(--button);
			color: white !important;

			&:hover {
				background-color: var(--button-hover);
			}

			&:focus {
				@include mixins.ring-shadow(var(--background-1), var(--button));
			}
		}
	}
}

.h-modal .inner-container.sm {
	max-width: 25rem !important;

	& .buttons {
		grid-gap: 1rem !important;
	}

	& .h-dropdown-menu {
		background-color: var(--background-1);

		& button.gray {
			&:hover, &:focus {
				background-color: var(--button) !important;
				color: white !important;
			}

			&.selected {
				background-color: var(--background-2);
			}
		}
	}
}

.h-label, .h-label span {
	color: var(--foreground) !important;
	opacity: 0.8;
}

.h-select-trigger {
	min-width: 6rem;
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;

	&:hover {
		background-color: var(--background-2) !important;
	}
}

// Let's apply an overflow to this to make sure that
// mobile users can see the whole modal, including
// all overflowing elements within the .inner.
.h-modal {
	overflow-y: scroll;
	padding-bottom: 4rem;
}

@media only screen and (max-width: 550px) {
	.h-modal.medium {
		padding: 0 1rem !important;
		align-items: center !important;
	}
}