// It's probably better to have one central place
// where overrides specific to certain themes
// are placed.

body.hacker {
	& .text-result .context {
		color: rgb(204, 204, 204) !important;
	}

	& .search-error-panel {
		& .bg-red-500 {
			background-color: var(--button) !important;
		}
	
		& .h-button {
			background-color: var(--button) !important;
	
			&:hover {
				background-color: var(--button-hover) !important;
			}
		}
	}
}

body.modern-light,
body.brutal-light {
	& .h-dropdown-menu {
		background-color: var(--background) !important;

		& button.gray {
			&:hover, &:focus {
				background-color: var(--background-1) !important;
				color: white !important;
			}

			&.selected {
				background-color: var(--background-2);
			}
		}
	}

	& .sb-suggestions-view button.selected, & .sb-suggestions-view button:hover {
		background-color: var(--background-1) !important;
	}

	& .sb-suggestions-view.view-grid button.selected, & .sb-suggestions-view.view-grid button:hover {
		background-color: var(--background-2) !important;
	}
}