@use './components/Footer';
@use './components/Layout';

// This must go above Navigation because it
// depends on some CSS vars.
@use './components/Search';
@use './components/Navigation';
@use './components/SearchBar';
@use './components/Settings';
@use './components/View';

@use './overrides';
@use './theme_overrides';

// Themes
@use './themes/atlantis';
@use './themes/brutal-dark';
@use './themes/brutal-light';
@use './themes/dracula';
@use './themes/hacker';
@use './themes/joker';
@use './themes/modern-dark';
@use './themes/modern-light';
@use './themes/monokai-sweet-dark';
@use './themes/reader';

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
	font-family: 'Inter', 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif;
}

html, body {
	background-color: var(--background);
	color: var(--foreground);
}

.utility-panel {
	min-height: calc(100vh - 7rem);
}

.link {
	color: var(--foreground);
	opacity: 0.75;
	font-size: 0.875rem;

	&:hover {
		text-decoration: underline;
	}

	html.dark & {
		opacity: 0.9;
	}
}

.dark-ui {
	background-color: var(--background) !important;
}

.bg {
	background-color: var(--background);
}
.bg-1 {
	background-color: var(--background-1);
}
.bg-2 {
	background-color: var(--background-2);
}

.bg-tertiary {
	background-color: var(--tertiary);
}

.text-primary {
	color: var(--primary);
}
.text-secondary {
	color: var(--secondary);
}
.text-tertiary {
	color: var(--tertiary);
}

.capitalize {
	text-transform: capitalize;
}

.g-link {
	color: var(--primary);

	&:hover {
		text-decoration: underline;
	}
}

ul {
	padding-inline-start: 1rem;
}