.footer {
	width: 100%;
	height: 3rem;
	background-color: var(--background);
	border-top: 1px solid var(--background-2);
}

@media only screen and (max-width: 767px) {
	.footer {
		height: auto;
		padding: 2rem 0;

		& .link:not(:last-of-type) {
			margin-bottom: 1rem;
		}
	}
}