nav {
	width: 100%;
	height: 4rem;
	padding-left: var(--result-gutter);
	background-color: var(--background);
	border-bottom: 1px solid var(--background-2);
	position: relative;

	& .wrapper {
		width: 100%;
		height: 100%;
		padding: 0 2rem 0 0;
	}

	& .logo {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--foreground);
		padding: 0 2rem;

		& > div, & p {
			transition: var(--d-m-2) var(--e-s);
		}

		& > div {
			border-radius: 0.25rem;
			background-color: transparent;
			padding: 0.5rem 0.75rem;
		}

		&:focus, &:hover {
			outline: none;

			& > div {
				background-color: var(--button);
			}

			& p {
				color: white;
			}
		}

		& p {
			margin-bottom: 0;
			font-size: 1.15rem;
			line-height: 1;
			font-family: monospace;
			font-weight: 500;
		}

		& .settings-wrapper {
			position: absolute;
		}
	}

	& .action {
		padding: 0.5rem;
		border-radius: 0.5rem;
		background-color: transparent;
		cursor: pointer;
		color: var(--foreground);
		opacity: 0.7;
		transition: var(--d-m-2) var(--e-s);

		&:hover {
			background-color: var(--background-1);
			color: var(--foreground);
		}
	}

	& .nav-mobile {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
}

@media only screen and (max-width: 550px) {
	nav {
		height: auto;
		padding-left: 0;

		.wrapper {
			padding: 0;
		}

		& .nav-grid {
			display: none !important;
			visibility: hidden !important;
			pointer-events: none !important;
		}

		& .nav-mobile {
			display: flex;
			visibility: visible;
			pointer-events: auto;

			& .logo {
				position: relative;
				padding-left: 1.5rem;
			}
		}
	}

	.searchbar-container {
		padding-left: 1.5rem;
		max-width: none !important;
	}
}