$radius: 0.5rem;

.search-bar {
	width: 100%;
	position: relative;

	& .input-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		border-radius: $radius;
		overflow: hidden;
	}

	& .sb-input {
		width: 100%;
		height: 44px;
		padding: 0.5rem 0.75rem;
		font-size: 0.875rem;
		color: var(--foreground);
		border-radius: $radius;
		background-color: var(--background);
		border: 1px solid var(--background-2);
		box-shadow: none;
		transition: var(--d-m-1) var(--e-s);

		&:focus {
			outline: none;
			border-color: var(--primary);
			box-shadow: inset 0 0 0 1px var(--primary);
		}
	}

	&.in-nav .sb-input {
		height: 38px;
	}

	& .sb-button {
		border-radius: $radius;
		width: 28px;
		height: 28px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 4px;
		background-color: var(--background);
		color: var(--foreground);
		cursor: pointer;
		transition: var(--d-m-1) var(--e-s);

		&:hover {
			background-color: var(--background-1);
		}
	}

	//////////

	&.in-nav .sb-suggestions {
		top: 2.75rem !important;
	}

	& .sb-suggestions {
		width: 100%;
		border-radius: $radius;
		position: absolute;
		top: 3.25rem;
		background-color: var(--background);
		border: 1px solid var(--background-2);
		overflow: hidden;
		z-index: 2;

		& .sb-suggestions-view.view-list button,
		& .sb-suggestions-view.view-grid button {
			font-size: 0.875rem;
			color: var(--foreground);
			cursor: pointer;

			&:hover, &.selected {
				background-color: var(--background-2);
			}
		}

		& .sb-suggestions-view.view-list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			& button {
				width: 100%;
				height: 38px;
				padding: 0 1rem;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				background-color: transparent;
				transition: var(--d-f-2) var(--e-s);
			}
		}

		& .sb-suggestions-view.view-grid {
			padding: 0.5rem;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;
			gap: 0.5rem;

			& button {
				height: auto !important;
				border-radius: 90px;
				background-color: var(--background-1);
				padding: 0.5rem 0.75rem;
				line-height: 1;
			}
		}

		& .sb-suggestion-meta {
			border-top: 1px solid var(--background-2);
			width: 100%;
			padding: 0.5rem 0.75rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;

			&.no-suggestions {
				border-top: none;
			}

			& p {
				margin-bottom: 0;
				font-size: 0.775rem;
				line-height: 1;
				color: var(--foreground);
				opacity: 0.7;
			}

			& .buttons {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;

				& button {
					width: 24px;
					height: 24px;
					padding: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: $radius;
					background-color: var(--background-1);
					color: var(--foreground);
					cursor: pointer;
					transition: var(--d-f-2) var(--e-s);

					&:hover {
						background-color: var(--background-2);
					}

					&:last-child {
						margin-left: 0.25rem;
					}

					&.active {
						color: var(--primary);
					}
				}
			}
		}
	}
}