$gutter: 0.6rem;

@mixin tl() {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.text-result {
	width: 100%;
	margin-bottom: 2rem;

	&, & .link-area, & .text-link {
		@include tl();
	}

	& .link-area {
		width: auto;

		&:hover .description {
			text-decoration: underline;
		}
	}

	& .text-link:focus {
		outline: none;
	}

	& .text-link:focus .link-area {
		outline: var(--primary) solid 2px;
	}

	& .text-link:visited .description {
		color: var(--tertiary) !important;
	}

	& .url, & .description {
		line-height: 1;
	}

	& .url, & .context {
		color: var(--foreground);
	}

	& .url {
		font-size: 0.875rem;
		opacity: 0.8;
		margin-bottom: $gutter;
		color: var(--secondary);
	}

	& .description {
		color: var(--primary);
		font-weight: 400;
		font-size: 1.15rem;
		line-height: 1.3;
		letter-spacing: -0.02rem;
		margin-bottom: $gutter;
	}

	& .context {
		font-size: 0.875rem;
		opacity: 0.75;
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 767px) {
	.text-result {
		& .description {
			font-size: 1rem;
			line-height: 1.4;
		}
	}
}

.text-result .is-skeleton {
	& .skeleton {
		padding: 0 !important;
	}

	& .s-link {
		height: 0.875rem !important;
		width: 5rem;
		margin-bottom: 0.5rem;
		background-color: var(--secondary-light);
	}

	& .s-description {
		height: 1.15rem;
		width: 10rem;
		background-color: var(--primary-light);
	}

	& .s-context {
		height: 1rem;
		width: 100%;

		&.two {
			width: 80%;
			margin-top: 0.35rem;
		}
	}
}

:root {
	--result-gutter: 11rem;
}

.search-panel {
	width: 100%;
	padding: 4rem var(--result-gutter);
	padding-top: 2rem !important;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5rem;

	&.no-grid {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

@media only screen and (max-width: 1050px) {
	.search-panel:not(.no-grid) {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-row-gap: 3rem;
	}
}

@media only screen and (max-width: 1600px) {
	:root {
		--result-gutter: 9rem;
	}
}

@media only screen and (max-width: 1200px) {
	:root {
		--result-gutter: 7rem;
	}
}

@media only screen and (max-width: 800px) {
	.search-panel {
		padding: 4rem;
	}
}

@media only screen and (max-width: 600px) {
	.search-panel {
		padding: 2rem 2rem;
	}
}

.s-query {
	font-weight: 500;
	max-width: 10rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.pagination-link {
	color: var(--primary);
	border: 2px solid transparent;
	background-color: transparent;
	font-size: 0.875rem;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	cursor: pointer;

	&, & > i {
		transition: var(--d-m-1) var(--e-s);
	}

	&:hover {
		background-color: var(--background-1);

		& > i {
			transform: translateX(2px);

			&.previous {
				transform: translateX(-2px);
			}
		}
	}

	&:focus {
		border-color: currentColor;
	}
}

.suggestion-pills {
	width: 100%;
	max-width: 40rem;
	display: block;

	& .suggestion-pill {
		appearance: none;
		background-color: var(--background-1);
		border-radius: 90px;
		padding: 0.5rem 1rem;
		color: var(--foreground);
		font-size: 0.875rem;
		font-weight: 500;
		margin: 0 0.5rem 0.5rem 0;
		cursor: pointer;
		transition: var(--d-m-2) var(--e-s);

		&:hover {
			background-color: var(--background-2);
		}
	}
}