.h-button.settings-button {
	color: var(--foreground) !important;

	&:hover, &:focus {
		background-color: var(--background-1) !important;
	}
}

.setting-block {
	& .label {
		text-transform: capitalize;
		font-size: 0.875rem;
		font-weight: 500;
		opacity: 0.9;
	}
}

@media only screen and (max-width: 991px) {
	.buttons.grid-2 {
		grid-template-columns: 1fr 1fr !important;
	}
}
